@{
    Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h2>Add a recipe</h2>

<h4>Add a tag to this task: @Html.DisplayFor(model => model.RecipeName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.RecipeId)

    @Html.Label("Select Tag")
    @Html.DropDownList("TagId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to recipe list", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>