@{
    Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h2>Edit your Recipe</h2>

<h4>Edit this Recipe: @Html.DisplayFor(model => model.RecipeName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.RecipeId)

    <p>Recipe Name:</p>
    @Html.EditorFor(model => model.RecipeName)

    <p>Recipe Rating:</p>
    <p>@Html.RadioButtonFor(model => model.Rating, "*") 1 Star</p>
    <p>@Html.RadioButtonFor(model => model.Rating, "**") 2 Star</p>
    <p>@Html.RadioButtonFor(model => model.Rating, "***") 3 Star</p>
    <p>@Html.RadioButtonFor(model => model.Rating, "****") 4 Star</p>
    <p>@Html.RadioButtonFor(model => model.Rating, "*****") 5 Star</p>

    <p>Ingredients:</p>
    @Html.TextAreaFor(model => model.Ingredient, new { cols = "55", rows = "10" })

    <p>Instructions:</p>
    @Html.TextAreaFor(model => model.Instructions, new { cols = "55", rows = "10" })<br>

    <br>
    @Html.Label("Select Tag: ")
    @Html.DropDownList("TagId")

    <br>
    <input type="submit" value="Save" class="btn btn-primary" />
}
<hr />
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>