@{
  Layout = "_Layout";
}
@using System.Security.Claims
@using RecipeBox.Models;
@model IEnumerable<RecipeBox.Models.Recipe>;

<h1>@User.Identity.Name's Recipes</h1>
<hr/>

@using (Html.BeginForm("search", "Recipes"))
{
    @Html.TextBox("Search", null, new {@class="form-control"})
    <input type="submit" value="Search" class="btn btn-primary">
}
<hr/>
@if (@Model.Any())
{
    @foreach (Recipe recipe in Model)
    {
        <h4>@Html.ActionLink($"{recipe.RecipeName}","Details", new { id = recipe.RecipeId}) | @recipe.Rating</h4><br>
    }
} 
else
{
    <h3>No recipes have been add</h3>
}

<hr/>
<p>@Html.ActionLink("Add New Recipe", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>