@{
  Layout = "_Layout";
}
@using System.Security.Claims
@using RecipeBox.Models;
@model IEnumerable<RecipeBox.Models.Recipe>;


@if (User.Identity.IsAuthenticated)
{
    <h1>@User.Identity.Name's Recipes</h1>
    <hr/>
}
else
{
    <h1>Welcome to RecipeBox!</h1>
    <p>Click on a Recipe Name to see the details of the recipe. Type in an ingredient to see a list of recipes that use this ingredients</p>
    <hr/>
}
@using (Html.BeginForm("search", "Recipes"))
{
    @Html.TextBox("Search")
    <input type="submit" value="Search" class="btn btn-primary">
}
<hr/>
@if (@Model.Any())
{
    @foreach (Recipe recipe in Model)
    {
        <h4>@Html.ActionLink($"{recipe.RecipeName}","Details", new { id = recipe.RecipeId}) | @recipe.Rating</h4><br>
    }
} 
else
{
    <h3>No recipes have been add</h3>
}

<hr/>
<p>@Html.ActionLink("Home", "Index", "Home", null, new {@class="btn btn-primary"})</p>
@if (User.Identity.IsAuthenticated)
{
    <h4>@Html.ActionLink("Add New Recipe", "Create", null, null, new {@class="btn btn-primary"})</h4>
}
else 
{
    <div class="createAccountLinks">
    <h4>Would you like to add your own recipes? @Html.ActionLink("Click Here", "Register", "Account") to create an account.</h4>
    <h4>@Html.ActionLink("Click Here", "Login", "Account") to log in to your account.</h4>
    </div>
}

