@{
  Layout = "_Layout";
}

@using RecipeBox.Models;
@model IEnumerable<RecipeBox.Models.Recipe>;

<h1>@User.Identity.Name's Recipes</h1>
<hr/>

@if (@Model.Any())
{
    @foreach (Recipe recipe in Model)
    {
        @Html.ActionLink($"{recipe.RecipeName}", "Details", new { id = recipe.RecipeId })<br>
    }
} 
else
{
    <h3>No recipes have been add</h3>
}

<hr/>
<p>@Html.ActionLink("Add New Recipe", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>