@{
    Layout = "_Layout";
}

<h1>Welcome to the RecipeBox!</h1>
<hr />
<h4>Welcome! The RecipeBox! is your #1 place for cataloguing, organizing and sharing your favorite recipes that you've found/developed online! </h4>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <p>@Html.ActionLink("See all Recipe Tags", "Index", "Tags", null, new {@class="btn btn-primary"})</p>
    <p>@Html.ActionLink("See all Recipes", "Index", "Recipes", null, new {@class="btn btn-primary"})</p>
     @using (Html.BeginForm("LogOff", "Account"))
    {
    <input type="submit" class="btn btn-primary" value="Log Out"/>
    }
}
else
{    
    <p>@Html.ActionLink("Log in", "Login", "Account", null, new {@class="btn btn-primary"})</p>
    <p>@Html.ActionLink("Create Account", "Index", "Account", null, new {@class="btn btn-primary"})</p>
    <p>@Html.ActionLink("See all Recipe Tags", "Index", "Tags", null, new {@class="btn btn-primary"})</p>
    <p>@Html.ActionLink("See all Recipes", "Index", "Recipes", null, new {@class="btn btn-primary"})</p>
}