@{
    Layout = "_Layout";
}

@model RecipeBox.Models.Tag;

<h2>Tag Details</h2>
<hr />
<h3>Tag Name: @Html.DisplayFor(model => model.TagName)</h3>

@if (@Model.Recipes.Count == 0)
{
    <p>This tag does not contain any recipes</p>
}
else
{
    <h4>Recipes this tag contains:</h4>
    <ul>
        @foreach (var join in Model.Recipes)
        {
            <li>@join.Recipe.RecipeName</li>
        }
    </ul>
}
<hr />
<p>@Html.ActionLink("Back to Tags", "Index", null, null, new {@class="btn btn-primary"})</p>
<p>@Html.ActionLink("Edit Tag", "Edit", new { id = Model.TagId }, new {@class="btn btn-primary"})</p>
<p>@Html.ActionLink("Delete Tag", "Delete", new { id = Model.TagId }, new {@class="btn btn-primary"})</p>
<p>@Html.ActionLink("Home", "Index", "Home", null, new {@class="btn btn-primary"})</p>
